---
---

@charset "utf-8";

$base-font-family: Roboto !default;
$text-color:       #606060 !default;
$background-color: #ffffff !default;





$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout";

.site-header { border: none }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/roboto-slab.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/roboto-slab-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 100;
  src: url(/assets/roboto-thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(/assets/roboto-italic.ttf) format('truetype');
}
//@font-face {
//  font-family: 'Roboto';
//  font-style: italic;
//  font-weight: 100;
//  src: url(/assets/roboto-thin-italic.ttf) format('truetype');
//}

@font-face {
  font-family: 'GFSPorsonRegular';
  src: url('/assets/GFSPorsonRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3 { font-family: 'Roboto Thin'; }
.porson { font: 24px/24px 'GFSPorsonRegular'; }

// thank you rowan merewood for naughty-no-alt.glitch.me via https://twitter.com/rowan_m/status/1223935532763361281
img:not([alt]) {
  border: 2px solid red;
  animation: pulse 1.2s ease infinite;
}

img[alt=""] {
  border: 2px solid red;
  animation: pulse 1.2s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(0);
  }
  25% {
    transform: scale(1.3) rotate(15deg);
    filter: blur(2px);
    opacity: 0.8;
    box-shadow: 0 0 2vw 2vw red;
  }
  50% {
    transform: scale(1) rotate(0);
    filter: none;
  }
  75% {
    transform: scale(1.3) rotate(-15deg);
    filter: blur(5px);
    opacity: 0.8;
    box-shadow: 0 0 2vw 2vw red;
  }

  100% {
    transform: scale(1) rotate(0);
  }
}
